@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is a Case Study made by Michiel Van Loy.</p>
<p>On the home page you can see information about F1 races that is pulled from Contentful.</p>
